/**
 * styles.css
 *
 * Project_1
 *
 * Global CSS.
 */

* {
    box-sizing: border-box;
}

.url-form {
    margin-top: 150px;
    margin-left: 400px;
}

.loader {
    height: 10px;
    width: 10px;
}

.show {
    display: block;
}

#result {
    margin-left: 150px;
    
}

.hide {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}