/**
 * styles.css
 *
 * Project_1
 *
 * Global CSS.
 */

* {
    box-sizing: border-box;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: red;
}

input[type=text] {
    margin-top: 200px;
    text-align: center;
    width: 230px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('download.png');
    background-position: 2px 5px; 
    background-size: 35px 35px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}

#loader {
    margin-top: 155px;
    display: none;
}

#result {
    margin-left: 30px;
    font-size: 20px;
    margin-top: 210px;
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}